<a class="btn btn-theme-colored text-uppercase mt-10 <%= typeof size !== 'undefined' ? `btn-${size}` : 'btn-sm'%> <%= typeof className !== 'undefined' ? className: '' %>"
   style="background: #F2184F"
   href="/courses/buy/<%= course.id %>"
>Buy Course</a>