<div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
    <ul>
        <li class="font-16 text-white font-weight-600 border-bottom"><%= formatters.date(blog.value('publish-date'))%></li>
        <li class="font-12 text-white text-uppercase"><%= formatters.monthName(blog.value('publish-date'))%></li>
    </ul>
</div>