<section id="home" class="bg-lightest fullscreen">
    <div class="display-table text-center">
        <div class="display-table-cell">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="text-theme-color-2 font-weight-100 font-64">Thank you</h1>

                        <div id="basic-coupon-clock" class="text-center font-36 pt-10 pb-10"></div>
                        <p class="font-14">We will return to you in next 24 hours</p>
                        <a class="btn btn-border btn-gray btn-transparent btn-circled" href="/">Return Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
